extends layout

block content
        h1 Page de tests
        ul
            li
                a(href='tests') liste des tests

        h1 Jeu Farmcraft
        p FarmCraft est un jeu dans lequel vous incarnez un fermier capable de conquérir des territoires, faire ses récoltes et se battre s'il le faut !
          Cet univers multijoueur merveilleux est regroupé sur un Mega serveur, ce qui vous permettra de jouer avec vos amis en quelques cliques.
          Ce jeu est celui qu'il vous faut alors n'attendez plus pour jouer. Inscrivez vous et rejoignez la communauté !
