extends parts/page

block content
    //- p Ton texte
    //- div
    //- p.rouge Rouge
    //- .rouge Rogue div
    //- #bleu div bleu
    //- t
    ul
        each file in tests
            li
                a(href=file) #{file}