doctype 5
html

    head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    body
        .container
            form.form-signin(method="POST")
                h2.form-signin-heading Register
                input.input-block-level(name='pseudo', type='text', placeholder='Pseudo in game')
                input.input-block-level(name='login', type='text', placeholder='Login')
                input.input-block-level(name='password', type='password', placeholder='Password')
                button.btn.btn-large.btn-primary(type='submit') Register
